 {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>

{% include 'link.html' %}

 <link rel="stylesheet" href="{% static 'css/stylep.css' %}">
 <link rel="stylesheet" href="{% static 'css/stylechat.css' %}">

 
  </head>
  <body class="common-home res layout-1">
    <div id="wrapper" class="wrapper-fluid banners-effect-3">


                   <!-- Main Container  -->
<div class="main-container container">
    <div id="content">
                       
    <section style="margin-top:100px;">

<div class="container-fluid h-100 ">
          <div class="row justify-content-center h-100" >
              <div class="col-md-4 col-xl-3 chat" style="width:900px;"><div class="card card1 mb-sm-3 mb-md-0 contacts_card">
                  <div class="card-header">
                      <div class="input-group">
                          <input type="text" placeholder="Recherche..." name="" class="form-control search" autocomplete="OFF" id="recherche">
                          <!-- <div class="input-group-prepend">
                              <span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
                          </div> -->
                      </div>
                  </div>
                  <div class="card-body contacts_body">
                      <ul class="contacts" id="rechercheContact">
                      
                      </ul>
                  </div>
                  <div class="card-footer"></div>
              </div></div>
              

</section> 
        
    </div>
</div>
<!-- //Main Container -->

      
      
      {% include 'modalProfil.html' %}


      {% include 'footer.html' %}



  </div>


  {% include 'script.html' %}

<script>


$(document).ready(function () {
    setInterval(function () {
        if (!$("#recherche").val()) {
            $.ajax({
                url: "./../utilisateurs_en_ligne/",  
                type: "POST",
                success: function (data) {
                    $("#rechercheContact").html(data);
                }
            });
        } else {
            $("#recherche").on("keyup", function () {
                let recherche = $(this).val();
                $.ajax({
                    url: "./../recherche_utilisateurs/", 
                    type: "POST",
                    data: { recherche: recherche },
                    success: function (data) {
                        $("#rechercheContact").html(data);
                    }
                });
            });
        }
    }, 500);
});


</script>
  

  </body>
</html>