 {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>

{% include 'link.html' %}

 <link rel="stylesheet" href="{% static 'css/stylep.css' %}">
 <link rel="stylesheet" href="{% static 'css/stylechat.css' %}">

 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
 
  </head>
  <body class="common-home res layout-1">
    <div id="wrapper" class="wrapper-fluid banners-effect-3">


      <!-- Main Container  -->
<div class="main-container container">
    <div id="content">
                       
    <section style="margin-top:100px;">

<div class="col-md-8 col-xl-6 chat container-fluid">
    <div class="card card1">
        <div class="card-header msg_head">
            <div class="d-flex bd-highlight">
                <div class="img_cont">
                    <img src="{% static './../admins_epicerie/static/image/AdminAdmin.png' %}" class="rounded-circle user_img">

                    <!-- verifier le status(connecte ou non) -->

                    {% if status == 'CONNECTE' %}
                    <span class="online_icon"></span>

                    {% else %}
                    <span class="online_icon offline"></span>
                    {% endif %}

                </div>
                <div class="user_info">
                    <span>{{ nom_recepteur }} {{ prenom_recepteur }}</span>
                    {% if status == 'CONNECTE' %}
                    <p>En ligne</p>
                    {% else %}
                    <p>derniere connexion : {{ derniere_connexion_recepteur }} </p>
                    {% endif %}

                </div>
                <div class="video_cam">
                    <span><i class="fas fa-video"></i></span>
                    <span><i class="fas fa-phone"></i></span>
                </div>
            </div>
            <span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
            <div class="action_menu">
                <ul>
                    <li><a href="#"><i class="fas fa-user-circle"></i></a></li>
                    <li><a href="#"><i class="fa-solid fa-arrow-left"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="card-body msg_card_body" id="retourMessage">
        
        </div>

        <div class="card-footer">

        <form id="formMessage">{% csrf_token %} {{ form.as_p }}

            <div class="input-group">
                <div class="input-group-append">
                    <span class="input-group-text attach_btn"><i class="fa-solid fa-comment"></i></span>
                </div>
                
                <input type="number" name="id_envoyeur" value="{{ request.session.id_utilisateur }}" hidden>
                <input type="number" name="id_recepteur" value="0" id="id_recepteur" hidden>
                <textarea name="message" id="message" class="form-control type_msg" placeholder="entrer votre message..." style="color:white;font-size:1.6rem"></textarea>
                <div class="input-group-append">
                    <button type="submit" style="background-color: rgba(0,0,0,0.3) !important;border:0 !important;"><span class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></span></button>
                </div>
                
            </div>

            </form>

        </div>
    </div>
</div>
    </div>
</div>

    </section>
        
    </div>
</div>
<!-- //Main Container -->

      
      
      {% include 'modalProfil.html' %}


      {% include 'footer.html' %}



  </div>


  {% include 'script.html' %}

<script src="{% static 'js/ajaxMessage1.js' %}"></script>
<script src="{% static 'js/afficheConversation1.js' %}"></script>
  

  </body>
</html>