   {% load static %}
  <!-- Footer Container -->
  <footer class="footer-container typefooter-1" id="contact">
    <!-- Footer Top Container -->
    <div class="container">
      <div class="row footer-top">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="socials-w">
            <h2>Nous suivres</h2>
            <ul class="socials">
              <li class="facebook">
                <a href="#">
                  <i class="fa-brands fa-facebook"></i>
                  <span>Facebook</span>
                </a>
              </li>
              <li class="twitter">
                <a href="#">
                  <i class="fa-brands fa-twitter"></i>
                  <span>Twitter</span>
                </a>
              </li>
              <li class="google_plus">
                <a href="#">
                  <i class="fa-brands fa-google-plus"></i>
                  <span>Google Plus</span>
                </a>
              </li>
              <li class="pinterest">
                <a href="#">
                  <i class="fa-brands fa-pinterest"></i>
                  <span>Pinterest</span>
                </a>
              </li>
              <li class="youtube">
                <a href="#">
                  <i class="fa-brands fa-youtube-play"></i>
                  <span>Youtube</span>
                </a>
              </li>
              <li class="linkedin">
                <a href="#">
                  <i class="fa-brands fa-linkedin"></i>
                  <span>linkedin</span>
                </a>
              </li>
              <li class="skype">
                <a href="#">
                  <i class="fa-brands fa-skype"></i>
                  <span>skype</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" hidden>
          <div class="module newsletter-footer1">
            <div class="newsletter">
              <div class="title-block">
                <div class="page-heading font-title"> Signup for Newsletter </div>
              </div>
              <div class="block_content"></div>
              <!--/.modcontent-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Footer Top Container -->
    <div class="footer-middle ">
      <div class="container">
        <div class="row">
          <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 col-infos"></div>
          <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 col-style">
            <div class="infos-footer">
              <a href="#">
                <img src="{% static 'image/logo.png' %}" alt="image">
              </a>
              <ul class="menu">
                <li class="adres"> INSTITUT NATIONAL DES POSTES ET TELECOMUNICATIONS , Rabat </li>
                <li class="phone"> (+212) 0 674 521 757 - (+212) 0 696 119 607 </li>
                <li class="mail">
                  <a href="">EpiceINPT@gmail.com</a>
                </li>
                <li class="time"> Horaire d'Ouverture : 8:00 - 23:00 </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 col-style"></div>
          <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 col-clear">
            <div class="box-service box-footer"></div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 col-style">
            <div class="box-service box-footer">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3308.5070498733803!2d-6.870372825570956!3d33.979507621569624!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xda76dc3d243c1c3%3A0x3735394df2c1e25c!2sResto%20inpt!5e0!3m2!1sfr!2sma!4v1710952817258!5m2!1sfr!2sma" width="350" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 col-style">
            <div class="box-service box-footer"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer Bottom Container -->
    <div class="footer-bottom">
      <div class="container"></div>
      <div class="copyright-w">
        <div class="container">
          <div class="copyright" style="font-size:1.5rem;"> GestEpice © 2025. Tous droits réservés. </a>
          </div>
        </div>
      </div>
    </div>
    <!-- /Footer Bottom Container -->
    <!--Back To Top-->
    <div class="back-to-top">
      <i class="fa fa-angle-up"></i>
    </div>
  </footer>
  <!-- //end Footer Container -->