   {% load static %}
<!-- End Color Scheme
============================================ -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <!-- Include Libs & Plugins
============================================ -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script type="text/javascript" src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/owl-carousel/owl.carousel.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/slick-slider/slick.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/themejs/libs.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/unveil/jquery.unveil.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/countdown/jquery.countdown.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/dcjqaccordion/jquery.dcjqaccordion.2.8.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/datetimepicker/moment.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/datetimepicker/bootstrap-datetimepicker.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery-ui/jquery-ui.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/modernizr/modernizr-2.6.2.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/minicolors/jquery.miniColors.min.js' %}"></script>
  <!-- Theme files
============================================ -->
  <script type="text/javascript" src="{% static 'js/themejs/application.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/themejs/homepage.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/themejs/toppanel.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/themejs/so_megamenu.js' %}"></script>

  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  

